
@font-face {
    font-family: 'Helvetica Neue Bold Italic';
    src: url('../fonts/HelveticaNeueBoldItalic.ttf');
}

@font-face {
    font-family: 'Andale Mono';
    src: url('../fonts/AndaleMono.ttf');
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url('../fonts/ARLRDBD_0.TTF');
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
b{
    font-weight: bold;
}
p{
    font-family: "Andale Mono";
}

h1{
    font-size: 2rem;
}

a:focus{
    color: transparent;
}
a:focus, a:hover {
    text-decoration: none;
}

.pd-0{padding:0;}

.main,header,footer{
    display: -webkit-flex; /* Safari */
    display: flex;
}

header,footer{
	height: 15%;	
}

.main{
	height: 70%;
}
.main .sections{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    min-width: 100%;
    //border:1px solid #ffc72a;
}

.sections{
    display: none;
}

.act{
    display: block;
}

.ver{
    display: block !important;
}

/*HEADER*/

header .navbar{
    width: 100%;
}

header .navbar-nav{
    width: 90%;
}

header .navbar .nav-link{
   font-size: 1.5vw;
    text-transform: uppercase;
    font-family: "Arial Rounded MT Bold";
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;

}

header .navbar-light .navbar-nav .nav-link{
    color:#ffc72a;
}


header .nav-item .nav-link:not(.active):hover {
    color:#ffc72a !important;
}


.header .logo, header .menu{
    flex: auto;
}

header .logo{
    width: 19%;
    padding-top: 1.7rem;
}

header .menu{
    padding-top: 3rem;
}
header .logo a{
    margin-left: 25%;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("../img/menu.png");
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}

/*MOVIL*/


.navbar-toggler{
    padding: .25rem 0 .25rem .25rem;
}

button:focus {
    outline: none;
}

.encabezado{
    font-family: "Andale Mono";
    font-size: 1.7vw;
}

#somo,.home{
    display: -webkit-flex;
    display: flex;
    height: 90%;
    width: 100%;
}
.home{
	height: 90%;
}

#inicio .creamos{
    height: 7%;
}
#somo{
    background-image: url("../img/col.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.home .foto{
    width: 50%;
}

.oculto{
    display: none;
}

.quien-pic img{
    width: 75%;
    display: block;
    margin: auto;
}

.text-ale{
    margin: auto;
    width: 69%;
    text-align: center;
}

.foto{
    margin: auto;
    width: 87%;
}
.somos{
    margin: auto;
}
#somo p{
    font-family: "Andale Mono";
    font-size: 1.5rem;
    letter-spacing: 5px;
    line-height: 2.5rem;
    text-align: right;
}



#somo p b{
    font-style: italic;
}

.factory{
    display: flex;
    width: 50%;
    height: 100%;
    flex-flow: row wrap;
    margin: auto;
}

.empresas{
    display: -webkit-flex; /* Safari */
    display: flex;
    height: 150px;
}

.empresas .row{
    width: 100%;
}
.empresas .em{
    webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    margin: auto;
}

.empresas img{
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    margin:auto;

}

.empresas h1,.empresas a{
    font-family: "Andale Mono";
}

.empresas a:hover, .empresas a:visited, .empresas a:link, .empresas a:active
{
    text-decoration: none;
}

#kiddo p span,#anima p span,#microwd p span,#tuuulibreria p span{
    font-family: "Helvetica Neue Bold Italic";
}


#microwd{
    top:-15px;
}

#kiddo,#anima,#microwd,#tuuulibreria {
    display: none;

}
#kiddo p,#anima p,#microwd p,#tuuulibreria p{
    font-family: "Andale Mono";
    font-size: 1.3vw;
    letter-spacing: 5px;
    line-height: 1.7rem;
    margin-bottom: 1.8rem;
}

#kiddo h1,#anima h1,#microwd h1,#tuuulibreria h1{
    color:#ff005c;
    letter-spacing: 2px;
    padding-bottom: 7px;
    font-family: "Helvetica Neue Bold Italic";
    font-size: 3rem;
}

.kd-le{
    margin-left: -2px !important;
}

#microwd h1{
    color:#3fa098;
}
#anima h1{
    color:#ffc800;
}

#tuuulibreria h1{
    color:#fd5101;
}


#quiero .encabezado{
    font-family: "Helvetica Neue Bold Italic";
}


/*Quien section*/
#quien{
    width: 88% !important;
    height: 95% !important;
    margin-top: 2% !important;
}

#quien p{
    font-size: 1.3vw;
    letter-spacing: 5px;
    line-height: 1.7rem;
    margin-bottom: 1rem;
}

#quien ul{
    padding-left: 1.8rem;
    line-height: 22px;
}

.quien-text{
    position: relative;
    top: -20px;
}

#quien ul li{
    list-style-type: decimal;
    padding-bottom: 1.5rem;
    font-size: 1.3vw;
    font-family: "Andale Mono";
    letter-spacing: 3.5px;
}

#quien ul li:last-child{
    padding-bottom: 1rem;
}

#quien ul li span{
    font-family: "Helvetica Neue Bold Italic";
}

.name{
    font-size: 3vw !important;
    line-height: 2.5rem !important;
    margin-bottom: 1rem;
}

.name span{
    font-family: 'Helvetica Neue Bold Italic';
}


footer{
    background: #f4f4f4;
}

.dir{
    font-size: 13px;
}

.footer .row{
    height: 100%;
}
footer .date {
    height: 100%;
}

.date p{
    position: relative;
    top:30%;
    font-family: "Andale Mono";
    left: -60px;
}

footer .redes{
    float: right;
    position: relative;
    left: -4rem;
    top: 20%;
}

.kd-mv, .anima-mv, .microwd-mv,.tuuulibreria-mv{
    display: none;
}

.mv-show{
    display: none;
}

.em{
    //flex: 1%;
}


@media (max-width: 320px) {

    .creamos {
        width: 60% !important;
        left: -6px !important;
    }
    #somo p {
        font-size: 0.8rem!important;
        letter-spacing: 1px!important;
        text-align: center!important;
        padding: 2px!important;
    }
}



@media (max-width: 768px) {
    #quien p{
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .dir{
        display: none;
    }


    #quien ul li{
        list-style-type: decimal;
        padding-bottom: .5rem;
        font-size: 1rem;
        font-family: "Andale Mono";
    }
    
    .foto{
    	width:75% !important;
    }


    /*empresas*/

    .s .factory{
        width: 95%;
    }
    .empresas img {
        max-width: 100%;
    }

    #kiddo h1, #anima h1, #microwd h1, #tuuulibreria h1 {
        font-size:1rem;
    }




}

@media (max-width: 768px) and (orientation: landscape) { 

	.foto {
		width: 60% !important;
	}
	#kiddo p, #anima p, #microwd p, #tuuulibreria p {
		font-size:1rem;
	}
	#anima, #microwd {
    top: 15px;
}

.date p {
    left: -15px;
}
 }

@media (max-width: 480px) {

        /*.main{
            height: 800px !important;
        }*/
		#quien{
			width:80%;
		}
		
		header,footer{
			height:10%
		}
		.main{
			height:80%;
		}

    header .navbar .nav-link {
        font-size: .8rem !important;
    }
		
		#quien .col-3,#quien .col-9{
			flex: 0 0 100%;
			max-width:100%;
		}
		
		#quien img{
			display:block;
			margin:auto;
			max-width:50%;
			

		}
		
		.s .factory{
			width:100%;
		}
		
		#kiddo h1, #anima h1, #microwd h1, #tuuulibreria h1 {
			font-size:.8rem;
		}

        /*SOMOS*/
    #somo{
        height: 80%;
    }

    #somo p {
        text-align: center !important;
        padding: 0 25px 0 25px !important;
    }




    .date p{
        top:26px;
        font-size: 13px;
        left: -30px;
    }
    .redes{
        top: 21px !important;
        left: 0 !important;
        width: 25% !important;
    }


    .empresas .em{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .empresas .em img{
        max-width: 100%;
        width: 42%;
    }

    #microwd {
        display: none !important;
    }

    .kd-mv,.anima-mv,.microwd-mv,.tuuulibreria-mv{
        display: block;
        padding-right: 0px;
        margin-bottom: 2rem;
    }

    .kd-mv h1{
        font-family: "Helvetica Neue Bold Italic";
        color:#ff005c;
    }

    .kd-le {
        margin-left: 7px !important;
    }

    .kd-hi-m,.anima-hi-mv,.mc-hi-mv,.tu-hi-mv{
        display: none;
    }

    .anima-mv h1{
        font-family: "Helvetica Neue Bold Italic";
        color:#ffc800;
    }

    .microwd-mv h1{
        font-family: "Helvetica Neue Bold Italic";
        color:#3fa098;
    }

    .tuuulibreria-mv h1{
        font-family: "Helvetica Neue Bold Italic";
        color:#fd5101;
    }



    /*quien*/

    .mv-show{

        display:block;
    }

    .mv-show br{
        display: none;
    }

    .mv-quiero{
        display:none;
    }

    .mv-show .name{
        text-align: center;
        font-size: 2rem !important;
        margin-top: 1rem;
    }

}





@media (max-width: 992px) {
    /*body{
        background: blue;
    }*/
    header .menu {
        padding-top: 0;
    }
    header .logo {
        padding-top: 0;
        height: 40px;
    }

    header .navbar-nav{
       width:  100%;
    }



    header .menu .nav-link{
        float: right;
    }


    header .navbar .nav-link{
        padding-right: 0rem !important;

    }


    .encabezado{
        font-size: 1.5em !important;
        margin: auto;
    }
    
    .foto{
    	width:55%;
    }

    header{
        height: auto;
    }

    .creamos{
        top: 12px;
        position: fixed;
        width: 80%;
        margin: auto;
        font-size:.8rem;
        left: 0px;
    }

    .main{
        height: 80%;
    }

    /*#somos div{
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
        position: relative;
        width: 63%;
    }*/

    #somo p {
        font-size: 1rem;
        letter-spacing: 5px;
        line-height: 25px;
        text-align: right;
    }

    .empresas img {
        max-width: 60%;
    }

    .empresas hq{
        font-size: 1rem;
    }

    #quien p{
        font-size: 1rem;
    }

}

@media (min-width: 993px) {
    /*body{
        background: lightgreen;
    }
    /*#somos div {
        margin-left: 25%;
        margin-right: 25%;
    }

    .encabezado{
        font-size: 1.7rem;
    }*/

    #somo p {
        font-family: "Andale Mono";
        font-size: 1.2rem;
        letter-spacing: 3px;
        line-height: 2rem;
        text-align: right;
    }
}

@media (min-width: 1200px) {
    /*body{
        background: lightblue;
    }
    /*#somos div {
        margin-left: 30%;
        margin-right: 30%;
    }*/

    #somo p {
        font-family: "Andale Mono";
        font-size: 1.2rem;
        letter-spacing: 3px;
        line-height: 2rem;
        text-align: right;
    }
}


@media (min-width: 1350px) {

    /*body{
        background: lightcoral;
    }

    .encabezado{
        font-size: 1.9rem;
    }*/

    #somo p{
        font-size: 1.3rem;
        letter-spacing: 3px;
        line-height: 2.5rem;
    }
}

@media (min-width: 1450px) {

   /* body{
        background: lightseagreen;
    }*/

    #somo p{
        font-size: 1.5rem;
        letter-spacing: 5px;
        line-height: 2.5rem;
    }
}

@media (min-width: 1450px) {

    /* body{
         background: lightseagreen;
     }*/

    /*#somos div {
        margin-left: 25%;
        margin-right: 37%;

    }*/

    #quien p{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #quien ul{
        padding-left: 1.5rem;
    }

    #quien ul li{
        list-style-type: decimal;
        padding-bottom: .5rem;
        font-size: 1.5rem;
        font-family: "Andale Mono";
    }
}






